@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(../assets/css/stylesheet.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap');
