.blog-reset p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.blog-reset h1,
.blog-reset h2,
.blog-reset h3,
.blog-reset h4,
.blog-reset h5,
.blog-reset h6 {
    font-weight: 600;
    margin: 0 1.5rem;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

.blog-reset h1 {
    font-size: 2rem;
}

.blog-reset h2 {
    font-size: 1.7rem;
}

.blog-reset h3 {
    font-size: 1.5rem;
}

.blog-reset h4 {
    font-size: 1.4rem;
}

.blog-reset h4 {
    font-size: 1.2rem;
}

.blog-reset small {
    font-size: 0.8rem;
}

.blog-reset a {
    color: #0f26aa;
}

@media (min-width: 640px) {
    .blog-reset h1 {
        font-size: 3.052rem;
    }

    .blog-reset h2 {
        font-size: 2.441rem;
    }

    .blog-reset h3 {
        font-size: 1.953rem;
    }

    .blog-reset h4 {
        font-size: 1.563rem;
    }

    .blog-reset h4 {
        font-size: 1.25rem;
    }

    .blog-reset small {
        font-size: 0.8rem;
    }

    .blog-reset a {
        color: #0f26aa;
    }
}

.blog-reset ol,
.blog-reset ul {
    list-style: initial;
}
