.bg-gradient-primary {
    background: linear-gradient(322.03deg, #010103 35.61%, #3144ac 66.66%, #e3565f 87.1%);
}
.bg-gradient-secondary {
    background: linear-gradient(81.64deg, #000000 -19.9%, #0f26aa 35.28%, #ff4a56 133.13%);
}
.bg-gradient-footer {
    background-image: url(../images/half-circle-3.svg),
        linear-gradient(81.64deg, #000000 -19.9%, #0f26aa 35.28%, #ff4a56 133.13%);
    background-position: left bottom, left bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 320px, cover;
}

.people-avatar {
    height: 150px;
    width: 175px;
    min-width: 175px;
    min-height: 150px;
}

@media screen and (min-width: 1024px) {
    .bg-image-jobs {
        background-repeat: no-repeat;
        background-position: left center, right center;
        background-image: url('../images/elemente-vectoriale-04.png'), url('../images/elemente-vectoriale-04.png');
    }
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.bg-blog-post {
    background-repeat: repeat-x;
    background-position: left -245px;
    background-image: url('../images/blog-post-bg.png');
}

@media screen and (min-width: 1024px) {
    .bg-cloud {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-position: 50% 35%;
        background-image: url('../images/hero-CSPM-bg.jpg');
    }
}

.bg-semicircle {
    background-color: #eeeeee;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 105% -45px;
    background-image: url(../images/elemente-vectoriale-06.svg);
}

.bg-mesh-logo {
    background-image: url(../images/half-circle-2.svg), url(../images/gradient-bg.svg);
    background-position: right bottom, left bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, cover;
}

.border-title:after {
    content: '';
    display: block;
    width: 100%;
    height: 6px;
    margin-top: 16px;
    background-image: linear-gradient(to right, #0f26aa, #ff4a56);
}
